**/Build/**
**/Builds/**
**/Intermediate/**
**/DerivedDataCache/**
**/Saved/**
**/.vs/**
**/.vscode/**
**/Binaries/**
**/obj/**
**/.idea/**
**/autosave/**


AroundMe/.ignore
AroundMe/AroundMe.sln

AroundMe/.vsconfig
AroundMe/AroundMe.code-workspace
AroundMe/InstallHooksCache.ini
AroundMe/Work_Files/character/CN_BIRD/.mayaSwatches/CN_BIRD_work.mb.swatches
AroundMe/Work_Files/character/CN_BIRD/workspace.mel
AroundMe/Work_Files/character/CN_BIRD/TEXTURE/image.png
AroundMe/Work_Files/character/CN_BIRD/autosave/CN_BIRD_work.0209.mb
AroundMe/Work_Files/character/CN_BIRD/autosave/CN_BIRD_work.0210.mb
AroundMe/Work_Files/character/CN_BIRD/autosave/CN_BIRD_work.0211.mb
AroundMe/Work_Files/character/CN_BIRD/autosave/CN_BIRD_work.0212.mb
AroundMe/Work_Files/character/CN_BIRD/autosave/CN_BIRD_work.0213.mb
/AroundMe/Work_Files/character/CN_BIRD/autosave
/AroundMe/Work_Files/character/CN_BIRD/.mayaSwatches
AroundMe/Work_Files/character/CN_BIRD/CN_BIRD_work_out.mb
/AroundMe/Work_Files/character/CN_BIRD/FBX/_old
