**/Build/**
**/Builds/**
**/Intermediate/**
**/DerivedDataCache/**
**/Saved/**
**/.vs/**
**/.vscode/**
**/Binaries/**


AroundMe/.ignore
AroundMe/AroundMe.sln
AroundMe/AroundMe.code-workspace
AroundMe/.vsconfig
