**/Build/**
**/Builds/**
**/Intermediate/**
**/DerivedDataCache/**
**/Saved/**
**/.vs/**
**/.vscode/**
**/Binaries/**
**/obj/**

AroundMe/.ignore
AroundMe/AroundMe.sln

AroundMe/.vsconfig
AroundMe/AroundMe.code-workspace
